.col-md-8 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-self: center;
  margin: 0;
}

.col-sm {
  display: flex;
  justify-content: center;
  width: 100%;
}

.center {
  display: flex;
  justify-content: space-around;
}

#cardBody {
  max-height: 24rem;
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  font-size: 2rem;
}

#cardBody .btn-div {
  margin-top: 1rem;
}

.d-flex {
  width: 30rem;
  margin: auto;
}

.btn.btn-primary {
  border-radius: 1rem;
}

#backBtn {
  vertical-align: top;
}

#descriptionBtn {
  vertical-align: top;
  float: right;
  border-radius: 1rem;
}

#trailerBtn {
  float: right;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
}

.embed-responsive-item {
  min-width: 30rem;
  min-height: 15rem;
}
