#searchBar {
  width: max-content;
  margin: auto;
}

.row#films {
  --bs-gutter-x: 0rem;
  display: flex;
  justify-content: center;
  margin-left: 0;
}

#films .card {
  width: 20rem;
  max-height: auto;
  justify-self: center;

  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

  border-radius: 1rem;
}

#films .card-body {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

#films .card-title {
  font-size: 2rem;
}

#films .card-text {
  font-size: 1.5rem;
}

#films .btn-primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
}

#films .btn-div {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
