@import "views/components/footer/footer.css";
@import "views/components/home/Home.css";
@import "views/components/navbar/Navbar.css";

body {
  font-size: 2.875rem;
}

div#app {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}
